# dependencies
/node_modules

# production
/.next
/out

# misc
.DS_Store
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock
